*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.ps
/jSCAPE/jSCAPE/nbproject/private/
/jSCAPE/build/
/Server/nbproject/private/
/Server/build/
/jSCAPE Server/nbproject/private/
/jSCAPE Client/nbproject/private/
/jSCAPE Server/build/
/jSCAPE Client/build/
/jSCAPE Client/dist/bundles/*
/jSCAPE Server/dist/
/jSCAPE AdminTool/nbproject/private/
/jSCAPE AdminTool/build/
/jSCAPE AdminTool/dist/